* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../assets/img/fondo/fondo\ principal.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
    padding: 10px;
}

ul li {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
}

#cuerpocontacto {
    background-image: url(../assets/img/fondo/Diseño\ sin\ título\ .png);
    background-size: cover;
    height: 65vh;
}

main div label {
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logowp {
    margin-right: 10px;
}

.logowp img {
    width: 30px;
    height: 30px;
}

.linkwp {
    display: grid;
    place-items: center;
}

.linkwp a {
    text-decoration: none;
    color: #ffffff;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.imagen_estudios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.imagen_estudios img {
    height: 60%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.side-images img {
    width: 150px;
    height: 220px;
    margin-bottom: 10px;
}

.text {
    margin: 0 20px;
    text-align: center;
    font-size: 1.3rem;
}

.contenedorsobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-size: 1.3rem;
}

.contenedorimg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.rounded-image {
    width: 190px;
    height: 200px;
    border-radius: 50%;
}


.container-fluid {
    --bs-gutter-x: 1rem;
}


@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .imagenes_estudios {
        height: 50%;
    }

    .texto {
        font-size: 0.5rem;
    }

    body {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .side-images {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .contenedorimg {
        grid-template-columns: repeat(2, 1fr);
    }

    .rounded-image {
        width: 100px; 
        height: 100px;
    }

}

@media screen and (max-width: 768px) {
    .texto {
        font-size: 1rem;
        align-items: center;
    }

    .container-fluid {
        --bs-gutter-x: 3rem;
    }

    .footer {
        margin-bottom: -10px;
    }

    .text {
        font-size: 0.7rem;
    }

    .side-images img {
        width: 100px;
        height: 150px;
        margin-bottom: 10px;
    }


}

@media screen and (min-width: 601px) and (max-width: 1400px) {

    .text {
        font-size: 1rem;
    }
    .contenedorimg {
        grid-template-columns: repeat(4, 1fr);
    }
}